@charset "UTF-8";.btns-section-container .btns-section{padding:10px;margin:0 auto;background-color:#fff}
.btns-section-container .btns-section .btn{margin-left:10px}
.btns-section-container.fix-top{position:fixed;top:0;left:0;width:95%;z-index:30;margin-left:30px;margin-right:30px;padding-right:15px;padding-left:15px}
@media (min-width:992px){.col-md-1{width:9.333333%}}#myTabs li.active{font-weight:600}
.mult-btn{cursor:pointer;margin:0 10px;color:#2aabd2}
.mult-btn:first-child{margin-left:0}
.mult-btn:hover{color:#0a6cd6}
.table-td-money{color:#666}
.table-td-money span{color:#f90}
.table-td-recommend input{width:80px}
.tr-sold-out{background-color:#f2f2f2}
.table-hover>tbody>.tr-sold-out:hover{background-color:#f2f2f2}
.form-input-error input{border-color:red}
.save-level-container{height:60px}
.save-level-container .col-md-1{padding-left:8px}
.save-level{margin-bottom:20px;width:80px}
.dialog-log-content .nova-dialog-body{min-height:300px;font-size:12px}
.dialog-log-content .td-note,.dialog-log-content .th-note{text-align:left}
.dialog-log-content td,.dialog-log-content th{text-align:center;vertical-align:middle}
.review-result-content{display:none}
.review-result-content .content-left{float:left;width:90px;text-align:right;padding-right:10px}
.review-result-content .content-right{float:left;width:270px;text-align:left}
.review-result-content .content-right label{margin-right:20px;font-weight:400}
.review-result-content .content-right label.active{font-weight:600}
.review-result-content .content-right input{vertical-align:top}
.review-result-content .content-right textarea{border-color:#e3e3e3}
.rules .main-panel{padding:10px 20px}
.rules .btn-new-rule{margin:20px 10px}
.rules .form-group{margin-bottom:0}
.rules .help-block{margin:0;height:20px;line-height:20px}
.rules .new-rule-content{font-size:12px}
.rules .new-rule-content .col-sm-2{font-size:14px}
.rules .new-rule-content label{font-weight:100}
.rules .new-rule-content .form-group{margin-top:10px}
.rules .new-rule-content .checkbox label,.rules .new-rule-content .radio label{margin-right:40px;font-size:14px}
.rules .new-rule-content .new-rule-chose-type .col-sm-10{padding:0 15px}
.rules .new-rule-content .new-rule-chose-type .new-rule-chose-type-wrapper{height:260px;border:1px solid #ccc;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}
.rules .new-rule-content .new-rule-chose-type .new-rule-chose-type-wrapper li{padding:0;overflow:hidden}
.rules .new-rule-content .new-rule-chose-type .new-rule-chose-type-wrapper label{float:left;width:130px;vertical-align:top;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-right:0;height:24px;line-height:24px;padding-left:30px}
.rules .new-rule-content .new-rule-chose-type .new-rule-chose-type-wrapper label:hover{background-color:rgba(71,119,188,.2)}
.rules .new-rule-content .new-rule-chose-type .new-rule-chose-type-wrapper .new-rule-chose-type-ul-third label{width:100%}
.rules .new-rule-content .new-rule-chose-type .rule-chose-checked{color:#333;font-weight:600}
.rules .new-rule-content .new-rule-chose-type .list-group{width:33%;border-right:1px solid #ccc;height:258px;overflow-y:auto;float:left}
.rules .new-rule-content .new-rule-chose-type .list-group::-webkit-scrollbar{width:6px;height:6px;border-radius:6px;background-color:#f5f5f5}
.rules .new-rule-content .new-rule-chose-type .list-group::-webkit-scrollbar-thumb{border-radius:6px;background-color:#cdcdcd}
.rules .new-rule-content .new-rule-chose-type .list-group:last-child{border:0}
.rules .new-rule-content .new-rule-chose-type .list-group-item{border:0}
.rules .new-rule-content .new-rule-chose-type .list-group-item-right{float:left;width:70px;height:24px;line-height:24px;text-align:right;padding-right:10px}
.rules .new-rule-content .new-rule-chose-type .list-group-item-right span{display:inline-block;*display:inline;*zoom:1}
.rules .new-rule-content .new-rule-chose-type .list-group-item-right:hover{cursor:pointer;color:#fff;background-color:#4777bc}
.rules .new-rule-content .new-rule-chose-type .list-group-item-right:hover i{color:#fff}
.rules .new-rule-content .new-rule-chose-type .list-group-item-right.active{border-right:4px solid #4777bc;padding-right:6px}
.rules .new-rule-content .new-rule-chose-type .chosen-num{font-size:12px;width:30px}
.rules .new-rule-content .new-rule-chose-type .chosen-num i{color:#2aabd2}
.wrapper .main-container{background-color:#fff}
.main-form .form-title{margin:0 10px}
.main-form select.form-control{display:inline-block;width:300px}
.main-form .form-control{width:300px;display:inline-block}
.main-form .pro-tags-group .pro-tags{display:inline-block;margin:0 10px}
.main-form .pro-tags-group .pro-tags .pro-tags-content{border:1px solid #ccc;padding:0 6px}
.main-form .pro-tags-group .pro-tags .text-danger{cursor:pointer}
.main-form .pro-imgs-list li{border:1px solid #cdcdcd;display:inline-block;position:relative;vertical-align:middle;height:100px;width:100px;margin:0 10px 0 0}
.main-form .pro-imgs-list li img{width:100px;height:100px;position:absolute;top:0;left:0}
.main-form .pro-imgs-list .info{display:inline-block;position:absolute;background:rgba(33,33,33,.7);color:#fff;left:0;top:0;z-index:2;width:100%;text-align:center}
.main-form .pro-imgs-list .operate{background:#fff;z-index:4;position:absolute;bottom:0;left:0;width:100%}
.main-form .pro-imgs-list .operate i{cursor:pointer;margin:0 8px;font-size:12px}
.main-form .pro-imgs-list .preview{z-index:0;text-align:center;line-height:90px;font-family:arial;background-color:#f6f6f6;width:100%;height:100%;overflow:hidden;position:absolute;left:0;top:0}
.main-form .pro-imgs-list .preview span{color:#d7d7d7;cursor:pointer;font-size:42px;position:relative;top:5px}
.main-form .pro-imgs-list .preview span i{color:#d7d7d7;cursor:pointer;font-size:42px}
.main-form .pro-imgs-list .pro-img{cursor:pointer;position:absolute;height:80px;width:100px;top:0;left:0;z-index:3;opacity:0}
.main-form .pro-imgs-list .pro-imgs-list-clear .info,.main-form .pro-imgs-list .pro-imgs-list-clear .operate{display:none}
.main-form .pro-imgs-list .pro-imgs-list-clear .pro-img{height:100px}
.main-form .pro-imgs-list .pro-imgs-list-clear:hover .operate{display:block}
.main-form .pro-delivery-temp{margin-left:60px;margin-top:10px}
.main-form .table-record-single input{width:120px}
.main-form .table-record-single td{text-align:center}
.main-form .record-max-container{display:none;border:1px solid #ccc;padding:10px}
.main-form .record-max-container .table td.text-danger{cursor:pointer}
.main-form .record-max-container .table .form-control{width:100%}
.main-form .record-max-container .record-max-block{padding:10px;border-bottom:1px dashed #ccc}
.main-form .record-max-container .record-max-block:last-child{border:none}
.main-form .record-max-container .record-max-block input{width:200px;margin-right:10px;margin-bottom:10px}
.main-form .record-max-container .record-max-input{padding:10px}
.main-form .record-max-container .record-max-input input{margin-right:10px}
.main-form .record-max-container .record-max-checkboxs label{width:250px}
.main-form .record-max-container .record-max-checkboxs input{margin:4px 10px}
.main-form .record-max-container .btn-add-value{display:inline-block;margin-top:7px}
.loading{display:inline-block;background:url(http://pic.lvmama.com/img/backstage/v2/newSale/loading.gif) no-repeat center;height:200px;width:200px}
.add-attr-content,.add-size-content,.add-value-content{max-height:300px;overflow-y:auto;text-align:center}
.add-attr-content::-webkit-scrollbar,.add-size-content::-webkit-scrollbar,.add-value-content::-webkit-scrollbar{width:10px;height:10px;border-radius:10px;background-color:#f5f5f5}
.add-attr-content::-webkit-scrollbar-thumb,.add-size-content::-webkit-scrollbar-thumb,.add-value-content::-webkit-scrollbar-thumb{border-radius:10px;background-color:#cdcdcd}
.add-attr-content th,.add-size-content th,.add-value-content th{text-align:center}
.selectedItem{max-width:260px;margin-top:5px;display:inline-block;*display:inline;zoom:1;vertical-align:top}
.nova-dialog-footer .btn-warning{color:#fff;background-color:#f0ad4e;border-color:#eea236}
.nova-dialog-footer .btn-warning:hover{color:#fff;background-color:#ec971f;border-color:#d58512}
.more_set .form-title{font-size:14px}
.more_set label{font-weight:400}
.can-sold label{margin-right:20px}
.can-sold label input,.can-sold label span{vertical-align:middle;margin-right:5px}
.can-sold label input:focus{outline:0}
.more_set .p-auto{padding:0}
.more_set .textarea{height:100px}
.handmade_error_tips{font-size:14px}
.handmade_error_tips .glyphicon-exclamation-sign{vertical-align:0}
.choose-type-container .sale-product-box .product-tip{border:1px solid #ddd;height:28px;line-height:28px;background:#f2f2f2;padding:0 10px}
.choose-type-container .sale-product-box .product-warp{margin:20px 0 0;border:1px solid #ddd;background:#f5fafd;padding:20px}
.choose-type-container .product-category{float:left;margin-right:20px;padding:10px;border:1px solid #ddd;width:30%}
.choose-type-container .product-category p{text-align:center;color:#29e}
.choose-type-container .product-category .product-list{background:#fff;padding:10px;height:200px;overflow-y:scroll}
.choose-type-container .product-category .product-list li{margin:7px 0;cursor:pointer;padding-left:5px}
.choose-type-container .product-category .product-list li:hover{background:#dff1fb;color:#f60}
.choose-type-container .product-category .tag-name{display:inline-block;margin-right:5px;background:#999;color:#fff;height:6px;line-height:6px;padding:4px}
.choose-type-container .product-category .product-list li:hover .tag-name{background:#f60}
.choose-type-container .product-category .product-search{margin:10px 0}
.choose-type-container .product-category .product-search .search{height:30px;line-height:30px;border:1px solid #f3f3f3;width:100%;text-indent:1em}
.choose-type-container .product-result{border:1px solid #4579a9;background:#dff1fb;padding:5px 10px;color:#333;margin:20px 0}
.choose-type-container .product-result .select-name{float:right}
.choose-type-container .product-warp .product-btn-box{text-align:center}
.choose-type-container .product-warp .product-btn{display:inline-block;font-size:14px;height:40px;line-height:40px;background:#f3f3f3;padding:0 10px;color:#666;border-radius:4px}
.choose-type-container .product-warp .product-btn:hover{text-decoration:none;background:#4579a9;color:#fff}
.choose-type-container .product-warp .active{background:#dff1fb;color:#f60}
.choose-type-container .product-warp .active:hover{background:#f60;text-decoration:none}
.choose-type-container .scrollbar{overflow-y:scroll}
.choose-type-container .scrollbar::-webkit-scrollbar{width:10px;background:#e3e3e3;border-radius:5px}
.choose-type-container ::-webkit-scrollbar-thumb,.choose-type-container ::-webkit-scrollbar-track{border-radius:5px}
.choose-type-container ::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;box-shadow:0 0 0 5px rgba(0,0,0,.2) inset}
.choose-type-container ::-webkit-scrollbar-corner{background:0 0}
.choose-type-container .xieyi_show::-webkit-scrollbar{width:6px;background:#e5e5e5;border-radius:5px}
.js_set_name{width:150px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.btn-orange-mr40{margin-right:40px}
.template-title{background-color:#eee;padding:0 10px}
.template-title p{height:34px;line-height:34px;margin:0 auto}
.template-container{margin-bottom:20px;margin-top:20px;height:200px;overflow-y:auto}
.template-container::-webkit-scrollbar{width:10px;height:10px;border-radius:10px;background-color:#f5f5f5}
.template-container::-webkit-scrollbar-thumb{border-radius:10px;background-color:#cdcdcd}
@media (min-width:768px){.col-sm-1{width:9.5%}}.input-check-container{position:relative;display:inline-block;margin:0}
.input-check-container .form-error{position:absolute;min-width:100px;font-size:12px;line-height:24px;color:red;background-color:#fff;padding:3px 10px;border-radius:4px;border:1px solid #ccc;left:50%;margin-left:-50px;z-index:1}
.input-check-container .form-error .arrow{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid;border-width:11px;top:-11px;left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#ccc}
.input-check-container .form-error .arrow:after{top:-9px;margin-left:-10px;content:" ";position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid;border-bottom-color:#fff;border-width:10px}
.freight-cost-type-container .cost-type-container{border:1px solid #ccc}
.freight-cost-type-container .cost-type-title{height:40px;line-height:40px;background-color:#eee;padding-left:20px}
.freight-cost-type-container .cost-type-title input{width:60px;height:24px;line-height:24px}
.freight-cost-type-container .cost-type-tr-clone{display:none}
.freight-cost-type-container .cost-type-table{margin-bottom:0}
.freight-cost-type-container .btn-cost-type-add{padding:4px 20px}
.freight-cost-type-container .cost-type-locations{float:none;display:inline-block;vertical-align:middle}
.freight-cost-type-container .btn-edit{display:inline-block}
.places-content-common{display:none}
.places-content-common label{cursor:pointer}
.places-content-common label input{vertical-align:-2px;margin-left:10px}
.places-content-common .places-content-provinces{position:relative}
.places-content-common .places-content-provinces.active{background-color:#eee}
.places-content-common .places-content-provinces.active .places-content-citys{display:block;background-color:#eee}
.places-content-common .places-content-provinces.active .glyphicon-triangle-bottom{transform:rotateZ(-180deg)}
.places-content-common .places-content-citys{display:none;position:absolute;left:0;max-width:100%;max-height:200px;padding:0 15px;z-index:1}
.places-content-common .places-content-citys::-webkit-scrollbar{width:10px;height:10px;border-radius:10px;background-color:#f5f5f5}
.places-content-common .places-content-citys::-webkit-scrollbar-thumb{border-radius:10px;background-color:#cdcdcd}
.places-content-common .places-content-citys li{float:left;margin-right:10px}
.places-content-common .glyphicon-triangle-bottom{margin-left:6px;cursor:pointer}
.cost-free-rule-container{padding:0 30px}
.cost-free-rule-container .td-mult span{display:inline-block;font-size:22px;cursor:pointer;margin:0 10px}
.cost-free-rule-container .cost-free-rule-select-td .input-check-container{display:none}
.cost-free-rule-container .cost-free-rule-select-td .input-check-container input{width:60px}
.cost-free-rule-container .cost-free-rule-select-td .input-check-container.active{display:block}
.cost-free-rule-container .cost-type-tr-clone{display:none}
.type-management-container li .type-content{display:inline-block;padding:0 10px}
.type-management-container li.type-invalid .type-content{background-color:#eee}
.type-management-container .type-management-add-content .form-control,.type-management-container .type-management-edit-content .form-control{width:auto;display:inline-block}
.type-management-container .sale-product-box .product-tip{border:1px solid #ddd;height:28px;line-height:28px;background:#f2f2f2;padding:0 10px}
.type-management-container .sale-product-box .product-warp{margin:20px 0 0;border:1px solid #ddd;background:#f5fafd;padding:20px}
.type-management-container .product-category{float:left;margin-right:20px;padding:10px;border:1px solid #ddd;width:30%}
.type-management-container .product-category p{text-align:center;color:#29e}
.type-management-container .product-category .product-list{background:#fff;padding:10px;height:200px;overflow-y:scroll}
.type-management-container .product-category .product-list li{margin:7px 0;cursor:pointer;padding-left:5px;height:20px;line-height:20px}
.type-management-container .product-category .product-list li:hover{background:#dff1fb;color:#f60}
.type-management-container .product-category .product-list li.active{background:#dff1fb;color:#f60}
.type-management-container .product-category .tag-name{display:inline-block;margin-right:5px;background:#999;color:#fff;height:14px;line-height:6px;padding:4px}
.type-management-container .product-category .product-list li:hover .tag-name{background:#f60}
.type-management-container .product-category .product-search{margin:10px 0}
.type-management-container .product-category .product-search .search{height:30px;line-height:30px;border:1px solid #f3f3f3;width:100%;text-indent:1em}
.type-management-container .product-result{border:1px solid #4579a9;background:#dff1fb;padding:5px 10px;color:#333;margin:20px 0}
.type-management-container .product-result .select-name{float:right}
.type-management-container .product-warp .product-btn-box{text-align:center}
.type-management-container .product-warp .product-btn{display:inline-block;font-size:14px;height:40px;line-height:40px;background:#f3f3f3;padding:0 10px;color:#666;border-radius:4px}
.type-management-container .product-warp .product-btn:hover{text-decoration:none}
.type-management-container .product-warp .active{background:#29e;color:#fff}
.type-management-container .product-warp .active:hover{background:#f60;text-decoration:none}
.type-management-container .scrollbar{overflow-y:scroll}
.type-management-container .scrollbar::-webkit-scrollbar{width:10px;background:#e3e3e3;border-radius:5px}
.type-management-container ::-webkit-scrollbar-thumb,.type-management-container ::-webkit-scrollbar-track{border-radius:5px}
.type-management-container ::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;box-shadow:0 0 0 5px rgba(0,0,0,.2) inset}
.type-management-container ::-webkit-scrollbar-corner{background:0 0}
.type-management-container .xieyi_show::-webkit-scrollbar{width:6px;background:#e5e5e5;border-radius:5px}
.main-type-bind .form-control-static span{margin-right:10px}
.main-type-bind .table{margin-top:10px}
.am-section{margin-bottom:20px}
.dl_list_box{padding-left:100px;position:relative;overflow:hidden}
.dl_list_box dd,.dl_list_box dt{line-height:30px}
.dl_list_box dt{float:left;margin-left:-100px;position:relative;width:80px;text-align:right}
.scroll-box{max-height:290px;overflow-y:auto;overflow-x:hidden}
.js_set_name{width:150px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}